@import "navBar.css";
@import "socialMedia.css";
@import "constant.css";


* div{
    border: 1px solid black;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

