@import "navBar.css";
@import "socialMedia.css";
@import "constant.css";


/*
* div{
    border: 1px solid black;
}
*/


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.postContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 2em;
    gap: 30px 30px;
}

.card {
    box-shadow: 0 8px 24px 0px rgba(34, 202, 194, 0.5);
    width: 100%;
    min-height: 100%;
    border-radius: 5%;
    text-align: center;
    transition: transform .2s;
  }

  .cardContainer{
    display: grid;
    grid-template-rows: 50% 25% 25%;
    height: 300px;
    align-items: center;
    justify-content: center;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(253,172,185,1.2);
    transform: scale(1.06);
  }
  
  .container {
      /*
    padding: 16px;*/
    margin-bottom: 4em;
    
  }

  h4{
    font-size:3vw;
  }

  p{
    font-size:2vw;
  }

  img{
      width: 60%;
      height: 100%;
      padding: 10px;
  }

  button{
    background-color: #22cac24f; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }

  .button1 {
    background-color: #22cac24f; 
    color: white; 
    border: 2px solid #22cac24f;
  }
  
  .button1:hover {
    background-color: whitesmoke;
    color: white;
  }

  @media(min-width:500px){
    .postContainer{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 2em;
      gap: 30px 30px;
      }
  }

  @media(min-width:700px){
    .postContainer{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      margin: 2em;
      gap: 30px 30px;
      }
  }

  @media(min-width:800px){
    .postContainer{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 2em;
      gap: 30px 30px;
      }
  }

}